* DNN(Deep Neural Net) 실습과제

[1] Boston 주택 가격 회귀 예측 모델을 텐서플로로  3층 신경망을 구현하여 RMSE를 구하여 단층 신경망과 비교하여 보세요
    단층일 때보다 RMSE가 낮아지도록 구현한다

In [43]:
import tensorflow as tf
import pandas as pd
import numpy as np
tf.random.set_seed(5)

In [44]:
df = pd.read_csv('C:/Users/HOME/PycharmProjects/ai/.ipynb_checkpoints/data_set/boston_train.csv')
df

         CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0     2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6
..        ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
395   0.23912   0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

[400 rows x 10 columns]

In [45]:
df1 = pd.read_csv('C:/Users/HOME/PycharmProjects/ai/.ipynb_checkpoints/data_set/boston_test.csv', dtype=float)

In [46]:
x_train = df.iloc[:,:-1].to_numpy()
y_train = df.iloc[:, -1].to_numpy()


x_test = df1.iloc[:,:-1].to_numpy()
y_test = df1.iloc[:, -1].to_numpy()
x_train , y_train

(array([[2.30040e+00, 0.00000e+00, 1.95800e+01, ..., 2.10000e+00,
         4.03000e+02, 1.47000e+01],
        [1.33598e+01, 0.00000e+00, 1.81000e+01, ..., 1.78210e+00,
         6.66000e+02, 2.02000e+01],
        [1.27440e-01, 0.00000e+00, 6.91000e+00, ..., 5.72090e+00,
         2.33000e+02, 1.79000e+01],
        ...,
        [1.38799e+00, 0.00000e+00, 8.14000e+00, ..., 3.99000e+00,
         3.07000e+02, 2.10000e+01],
        [7.36711e+00, 0.00000e+00, 1.81000e+01, ..., 1.93560e+00,
         6.66000e+02, 2.02000e+01],
        [1.41500e-01, 0.00000e+00, 6.91000e+00, ..., 5.72090e+00,
         2.33000e+02, 1.79000e+01]]),
 array([23.8, 12.7, 26.6, 21.7, 34.6, 35.4, 18.6, 33.1, 16.4, 15.2,  5. ,
        28.4, 25. , 30.7, 15.6, 41.3, 24.2, 23.2, 21.9, 26.6, 23.4, 24.7,
        14.9, 50. , 18.4, 21.8, 19.3, 27. , 13.3, 11.7, 23.6, 22. , 13.8,
        31.7, 25. , 13.9, 50. , 46.7, 14.1, 17.4, 18.5,  8.5, 18.1, 19.2,
        23.8, 37.6, 20. , 13.3, 27.9, 20.3, 19.6, 19.6, 10.5, 18.8, 12.3,
        23. , 26.2, 13.6, 24.1, 19.2, 14.6, 29.8, 20.1, 20.7, 18.4, 21.4,
        37.9, 19.3, 11.3, 32. , 50. , 12.8, 17.6, 14.9, 22.2, 15. , 20.2,
        34.7, 22.6, 22.2, 20. , 15.3, 24.3, 37.3, 32.2, 23.1, 23. ,  7.2,
        27.5, 50. , 24.6,  8.7, 50. , 13.4, 15. , 20.3, 22.5, 24.8,  8.1,
        11.8, 22.9, 36.5, 23.7, 48.3, 50. , 25. , 24.7, 14.1, 50. , 23.1,
        23.1, 50. , 23.9, 12.5, 23.9, 23. , 29.1, 32.4, 12.7, 14.8, 23.2,
        25. ,  9.7, 16.5, 24.4, 13.8, 25. , 21.7, 22.9, 23.9, 22.8, 43.8,
        20.6, 10.4, 20.8, 16.8, 10.9, 18. , 31.2, 39.8, 22. , 19.8, 18.7,
        50. ,  8.8, 19.4, 19.4, 24.3, 21.9, 22.9, 42.3, 20.6, 20.5, 48.8,
        18.2, 21. , 17.8, 27.5, 22.4,  8.3, 33.4, 15.2,  6.3, 13.5, 48.5,
        31.1, 36.2,  7. , 27.9, 13.9, 37.2, 12.6, 28.2, 16.2, 16.1,  7.2,
        17.8, 28.4, 33.8,  7.2, 16.6, 28.1, 19.4, 16.6, 19.5, 27.5, 14.1,
        23.1, 17.2, 23.2, 10.9, 31.5, 19.6, 10.2, 22. , 24.8, 43.1, 28.7,
        30.1, 19.1, 21.6, 20.4, 19.6, 22.9, 21.5, 21.1, 24.5, 31. , 21.7,
         5.6, 30.1, 50. , 29.4, 23.7, 20.1,  8.3, 13.4, 18.7,  9.6, 18.2,
        23.3, 17.2, 13.5, 12. , 14.5, 13.8, 20.5, 23.9, 20.5, 23.1, 29.8,
        21.7, 25.2, 15. ,  7. , 22.7, 21.1, 13.1, 23.2, 22.8, 10.5, 18.7,
        28.6, 22.7, 17.8, 21.4, 13.6, 17.5, 13.1, 29.6, 14.4, 19. , 23.4,
        20.3, 16.7, 19.1, 22.6, 29. , 16.3, 23.7, 50. , 16.7, 27.1, 19. ,
        19.9, 46. , 13.4, 22.2, 22. ,  7.5, 19.9, 23.7, 13.1, 32.7, 23.6,
        25. , 19.8, 29.1, 28. , 12.7, 10.4, 18.3, 13.8, 20.3, 17.8, 18.8,
        22.5, 35.2, 19.7, 26.6, 26.4, 35.4, 21.2, 50. , 23.3, 17.3, 13.3,
        50. , 17.1, 17.1, 24.4, 18.6, 12.1, 14.4, 21.2, 25.1, 17.4, 16. ,
        22.3, 11.9, 19.4, 31.6, 19.5, 23.1, 14.3, 13.1, 19.4, 17.8, 19.7,
        22.5, 50. , 20.6, 17.1, 22.6, 20.6, 27.5, 36. ,  8.5, 18.9, 19.3,
        29.6, 44.8, 15.1, 11.9, 38.7, 33. , 21.4, 50. , 25. , 21.8, 30.8,
        20. , 30.5, 24. , 11.8, 22.2, 20.6, 14.5, 16.2, 23. , 28.5, 11.7,
        21.2,  5. , 17.7, 35.1, 22.6, 18.5, 18.5, 17.2, 20.1, 24.5, 20.4,
        30.3, 15.2, 19.3, 15.7, 21.9, 34.9, 24.7, 22.3, 33.1, 24.6, 19.5,
        21.5, 24. , 14.3, 14.5, 44. , 29. , 23.8, 34.9, 22. , 32.9, 41.7,
         8.8, 17.9, 21.4, 24.1, 45.4, 20.1, 15.6, 13.8, 15.6, 23.3, 21.2,
        23.3, 13.2, 11. , 25.3]))

In [47]:
w1 = tf.Variable(tf.random.normal([9,5], dtype=tf.float64, name='weight1'))
b1 = tf.Variable(tf.random.normal([5], dtype=tf.float64, name='bias1'))

w2 = tf.Variable(tf.random.normal([5,2], dtype=tf.float64, name='weight2'))
b2 = tf.Variable(tf.random.normal([2], dtype=tf.float64, name='bias2'))

w3 = tf.Variable(tf.random.normal([2,1], dtype=tf.float64, name='weight3'))
b3 = tf.Variable(tf.random.normal([1], dtype=tf.float64, name='bias3'))

[2] Caesarian 제왕절개 Logistic Regression 모델을 텐서플로를 사용하여 3층으로신경망을 구현하여 Accuracy를 구하여 단층 신경망과 비교하여 보세요
    단층일 때보다 정확도가 높아지도록 구현한다


[힌트]  아래와 같이 구현하고 빈 칸을 완성하여 3층 신경망을 만든다

In [48]:
def layer1(X):
    return  tf.nn.relu(tf.matmul(tf.Variable(X, dtype=tf.float64),w1) + b1 )

def layer2(X):
    return  tf.nn.relu(tf.matmul(layer1(X),w2) + b2 )

def hypothesis(X):
    return  tf.matmul(layer2(X),w3) + b3

def cost():
    h = hypothesis(x_train)
    cost = tf.reduce_mean(tf.square(h - y_train))
    return cost

def pred(x):
    return hypothesis(x)


# 정확도 측정 : RMSE(Root Mean Squared Error)
def get_rmse(y_test,preds):
    squared_error = 0
    for k,_ in enumerate(y_test):
        squared_error += (preds[k] - y_test[k])**2
    mse = squared_error/len(y_test)
    rmse = np.sqrt(mse)
    return rmse[0]

In [49]:
cost()

In [50]:
optimizer = tf.optimizers.Adam(learning_rate= 0.01)

print('***** Start Learning!!')
for step in range(5001):
    optimizer.minimize(loss=cost, var_list=[w1, b1, w2, b2, w3, b3])
    if step % 100 == 0:
        print('%04d' % step,'\n', 'cost :', cost().numpy(),'\n','rmse :',get_rmse(y_train, pred(x_train)))
print('***** Learning Finished!!')

***** Start Learning!!
0000
 cost : 467.35231917114044
 rmse : 21.733510680215982
0100
 cost : 102.7729110192687
 rmse : 10.602766696571402
0200
 cost : 93.86769400931078
 rmse : 10.066528949200706
0300
 cost : 93.26289977898097
 rmse : 9.996819056622018
0400
 cost : 92.97591529823917
 rmse : 9.927424779261843
0500
 cost : 92.74120106940359
 rmse : 9.843079060951098
0600
 cost : 92.53924768921772
 rmse : 9.74890922887652
0700
 cost : 92.37672697188734
 rmse : 9.655553092633875
0800
 cost : 92.25954478118598
 rmse : 9.570747281861932
0900
 cost : 92.18316875008021
 rmse : 9.505712635995604
1000
 cost : 92.1328860330454
 rmse : 9.463441298853542
1100
 cost : 92.0936319658125
 rmse : 9.442155507568602
1200
 cost : 92.05704895386023
 rmse : 9.43255952371657
1300
 cost : 92.02180647154775
 rmse : 9.43058083790816
1400
 cost : 91.98601107538758
 rmse : 9.431377385293601
1500
 cost : 91.95213500746092
 rmse : 9.431732450684505
1600
 cost : 91.93223349621336
 rmse : 9.435431243365299
1700
 cost : 91.92432583135101
 rmse : 9.43952480611702
1800
 cost : 91.8530236282392
 rmse : 9.450465684469407
1900
 cost : 91.8143452408369
 rmse : 9.450476981191915
2000
 cost : 91.78871741951961
 rmse : 9.461077526596007
2100
 cost : 91.75463952219381
 rmse : 9.461745242316056
2200
 cost : 91.73045887081842
 rmse : 9.47103042566039
2300
 cost : 91.75722925268768
 rmse : 9.466352309878639
2400
 cost : 91.68338427356302
 rmse : 9.47843267899813
2500
 cost : 91.66330579496137
 rmse : 9.486333812010045
2600
 cost : 91.64657957613586
 rmse : 9.487845537200716
2700
 cost : 91.62858418623476
 rmse : 9.495428421817506
2800
 cost : 91.6213235697212
 rmse : 9.506272682289572
2900
 cost : 91.60856493356212
 rmse : 9.50224768451095
3000
 cost : 91.59849594679582
 rmse : 9.505861775683451
3100
 cost : 91.58936633193437
 rmse : 9.511004487438687
3200
 cost : 91.59258989805845
 rmse : 9.527453822604462
3300
 cost : 91.58396481970999
 rmse : 9.51605046663502
3400
 cost : 91.57791157848679
 rmse : 9.515458048472162
3500
 cost : 91.57221666831757
 rmse : 9.518216059246651
3600
 cost : 91.56677459094469
 rmse : 9.521832633342381
3700
 cost : 91.56156420213948
 rmse : 9.525581092281374
3800
 cost : 91.55656359258249
 rmse : 9.529243647317188
3900
 cost : 91.56379253227287
 rmse : 9.53319915830827
4000
 cost : 91.55195197723714
 rmse : 9.533951423871981
4100
 cost : 91.54795507097097
 rmse : 9.532286899984902
4200
 cost : 91.54417187144789
 rmse : 9.533980508978495
4300
 cost : 91.54051391866432
 rmse : 9.536182445761018
4400
 cost : 91.61850404458265
 rmse : 9.52467359381223
4500
 cost : 91.53421011168099
 rmse : 9.54050222665416
4600
 cost : 91.53267113684085
 rmse : 9.546412781113972
4700
 cost : 91.53814092353359
 rmse : 9.539682777705824
4800
 cost : 91.52585016136585
 rmse : 9.542626185093097
4900
 cost : 91.54570306644305
 rmse : 9.543808838335593
5000
 cost : 91.5202307504666
 rmse : 9.543416612906421
***** Learning Finished!!

In [51]:
hypothesis(x_train)

<tf.Tensor: shape=(400, 1), dtype=float64, numpy=
array([[21.58638832],
       [22.62446864],
       [22.83463194],
       [22.18942512],
       [22.28667731],
       [22.42333882],
       [22.9674424 ],
       [22.48536917],
       [22.62832914],
       [22.75715855],
       [22.61621151],
       [22.48080785],
       [22.65071976],
       [22.76485501],
       [22.98232563],
       [22.23906243],
       [22.44438194],
       [22.59310378],
       [23.52553864],
       [22.51374734],
       [22.47006327],
       [22.57381909],
       [22.62469156],
       [22.65780325],
       [22.62686697],
       [22.71497482],
       [22.31346397],
       [21.91745235],
       [22.56126919],
       [22.62102317],
       [22.63443641],
       [22.35553785],
       [22.63773185],
       [22.75706464],
       [21.28642406],
       [22.66320534],
       [22.41581137],
       [23.0493569 ],
       [22.60709574],
       [23.02012186],
       [23.08774943],
       [22.65172357],
       [23.11077718],
       [23.2493722 ],
       [21.69284288],
       [22.95693632],
       [22.38524853],
       [22.65147466],
       [22.61238962],
       [22.0642199 ],
       [22.88611859],
       [23.38634416],
       [22.64448224],
       [22.63261226],
       [22.6133661 ],
       [22.57073744],
       [23.06564832],
       [22.25548547],
       [23.22018232],
       [22.38852147],
       [22.82419473],
       [22.65941258],
       [22.78379645],
       [23.46810593],
       [23.04744181],
       [22.63854852],
       [22.57755084],
       [21.90402611],
       [22.61180337],
       [21.95039757],
       [22.62441298],
       [22.63494173],
       [22.43563499],
       [22.63681686],
       [22.82500828],
       [22.59346455],
       [22.5465722 ],
       [22.90834537],
       [22.4354654 ],
       [23.46648821],
       [22.19423049],
       [23.39677417],
       [22.12968234],
       [22.67239065],
       [22.54218897],
       [22.83632998],
       [22.56257587],
       [22.61962066],
       [22.41312631],
       [22.63702769],
       [22.35934083],
       [22.63092443],
       [22.57898874],
       [22.61241331],
       [22.67294415],
       [22.76190049],
       [22.27623352],
       [22.48666548],
       [22.73252829],
       [23.76625883],
       [22.36570063],
       [22.88708604],
       [22.56343349],
       [23.20786725],
       [23.50387238],
       [22.48400892],
       [22.56958959],
       [22.59551195],
       [22.80377108],
       [22.53932569],
       [21.83753317],
       [22.5130309 ],
       [22.14549357],
       [22.6400433 ],
       [22.49523961],
       [22.93943952],
       [22.21368881],
       [22.42052831],
       [22.61316266],
       [22.71787087],
       [22.31124597],
       [22.56337937],
       [22.5962747 ],
       [22.32855395],
       [22.46659084],
       [23.32436889],
       [22.81882964],
       [22.11218663],
       [22.31857058],
       [22.85264052],
       [22.72583105],
       [22.81629201],
       [22.62368934],
       [22.62508322],
       [22.6181867 ],
       [22.78554598],
       [22.63674373],
       [23.19052298],
       [23.130875  ],
       [22.88325073],
       [22.27989283],
       [22.44269899],
       [22.97074619],
       [23.07465571],
       [22.61709426],
       [22.41908078],
       [22.44588352],
       [22.73527406],
       [22.45416914],
       [23.17112252],
       [22.62064562],
       [22.62460719],
       [22.41239153],
       [23.47926973],
       [22.87716541],
       [22.93869098],
       [22.63195985],
       [22.88002194],
       [23.27723991],
       [22.61178414],
       [23.10374137],
       [22.55977827],
       [22.6804874 ],
       [22.33855   ],
       [22.531943  ],
       [22.31965941],
       [22.20925009],
       [22.74443369],
       [22.47561404],
       [22.5770481 ],
       [22.6271109 ],
       [22.62828966],
       [22.51910142],
       [22.89922889],
       [22.62851619],
       [22.61784942],
       [22.96009107],
       [22.22549775],
       [22.94746726],
       [22.6341406 ],
       [22.24710186],
       [22.61744737],
       [22.54783929],
       [22.76359189],
       [22.62911853],
       [22.61670005],
       [22.63997988],
       [22.95490117],
       [22.58490776],
       [22.64419074],
       [22.67075175],
       [22.83360107],
       [22.77529541],
       [22.59289879],
       [22.75363594],
       [22.46263396],
       [23.07207825],
       [22.82351632],
       [22.29493912],
       [22.54788327],
       [22.52888397],
       [22.91976738],
       [22.64538734],
       [22.54103612],
       [22.29457221],
       [23.27713139],
       [22.79874371],
       [22.84946006],
       [22.73297108],
       [22.6248702 ],
       [23.49225596],
       [22.39842446],
       [22.53023684],
       [22.43283829],
       [22.68742898],
       [22.61100113],
       [22.62102849],
       [22.32258232],
       [22.65326544],
       [22.60676076],
       [23.92520206],
       [22.60790899],
       [22.62306685],
       [22.55451416],
       [22.49351079],
       [22.53440936],
       [22.72466558],
       [22.49266041],
       [22.69214184],
       [22.79725398],
       [22.00085653],
       [22.25230332],
       [22.52042744],
       [22.70847034],
       [22.58189524],
       [21.47459155],
       [22.23079567],
       [22.63284911],
       [22.33604788],
       [22.28691258],
       [22.59380316],
       [22.67660511],
       [22.41211527],
       [22.64513197],
       [22.59773232],
       [21.99602632],
       [22.75457381],
       [22.74561442],
       [22.99620934],
       [22.3172582 ],
       [21.96847224],
       [22.58403761],
       [22.32856606],
       [22.47241087],
       [22.63183684],
       [22.541614  ],
       [22.05496436],
       [22.51161925],
       [22.56318032],
       [22.13830723],
       [22.39042729],
       [22.58752441],
       [22.57740324],
       [23.01567249],
       [22.55516707],
       [22.66888113],
       [22.63632909],
       [22.16531086],
       [22.53127422],
       [22.65341934],
       [22.71709681],
       [22.55225926],
       [22.35819384],
       [22.85671893],
       [22.24333054],
       [22.69226008],
       [22.67241227],
       [22.30445278],
       [22.64203083],
       [22.45145784],
       [22.68625984],
       [22.75980072],
       [22.60029281],
       [22.0123392 ],
       [22.64026281],
       [22.2565758 ],
       [22.27965489],
       [23.02172561],
       [22.37468024],
       [23.40566055],
       [21.96310367],
       [23.19465933],
       [22.48745381],
       [22.61995966],
       [22.41992122],
       [22.58824868],
       [22.94750222],
       [22.96510752],
       [22.25813586],
       [22.63759594],
       [22.57826944],
       [22.6829633 ],
       [22.63201273],
       [21.99625721],
       [22.27373483],
       [22.50121327],
       [21.88414533],
       [22.62228514],
       [21.59439366],
       [23.01197228],
       [21.86779513],
       [22.62081284],
       [23.04376443],
       [22.79536032],
       [22.63954569],
       [22.64720678],
       [23.27146557],
       [22.9689854 ],
       [22.55344072],
       [22.21382223],
       [22.6587527 ],
       [23.0780657 ],
       [23.19747685],
       [22.44182996],
       [22.16225803],
       [22.58974201],
       [22.869042  ],
       [22.6153776 ],
       [22.58266579],
       [22.15437567],
       [23.42834365],
       [23.0475054 ],
       [22.60801018],
       [22.57559703],
       [22.80478055],
       [23.34050517],
       [22.21637683],
       [22.65255036],
       [22.28936131],
       [22.58779662],
       [22.55203793],
       [22.053852  ],
       [22.43037127],
       [22.29311725],
       [22.6268754 ],
       [22.42637766],
       [23.40155631],
       [22.60404821],
       [22.53776057],
       [23.15258955],
       [22.56441163],
       [22.62017438],
       [22.59894685],
       [22.63143402],
       [22.62415108],
       [22.10203078],
       [22.37864731],
       [22.44286125],
       [22.46346863],
       [22.75647702],
       [22.62480817],
       [22.86783879],
       [22.31029632],
       [22.2151237 ],
       [22.61714525],
       [22.56793284],
       [22.36065458],
       [22.61526597],
       [22.26454644],
       [22.81274694],
       [22.31630166],
       [22.59868182],
       [23.07296149],
       [22.35356823],
       [23.64702454],
       [22.70860816],
       [22.66685977],
       [22.51124948],
       [22.53247765],
       [22.5467392 ],
       [22.78163908],
       [22.71704391],
       [22.32328245],
       [22.79569586],
       [23.17568043],
       [22.60898837],
       [22.54749723],
       [22.61322792],
       [22.27757937],
       [22.62562785],
       [22.15681631],
       [22.73535124],
       [22.58068707],
       [22.35945751],
       [23.05123581],
       [22.79923346],
       [22.43240101],
       [22.44333122],
       [22.66310145],
       [22.5581021 ]])>

[2] Caesarian 제왕절개 Logistic Regression 모델을 텐서플로를 사용하여 3층으로신경망을 구현하여 Accuracy를 구하여 단층 신경망과 비교하여 보세요
    단층일 때보다 정확도가 높아지도록 구현한다

In [52]:
import tensorflow as tf
import pandas as pd
import numpy as np

df2 = pd.read_csv('C:/Users/HOME/PycharmProjects/ai/.ipynb_checkpoints/data_set/caesarian.csv', header= None)
df2

     0  1  2  3  4  5
0   22  1  0  2  0  0
1   26  2  0  1  0  1
2   26  2  1  1  0  0
3   28  1  0  2  0  0
4   22  2  0  1  0  1
..  .. .. .. .. .. ..
75  27  2  1  1  0  0
76  33  4  0  1  0  1
77  29  2  1  2  0  1
78  25  1  2  0  0  1
79  24  2  2  1  0  0

[80 rows x 6 columns]

In [53]:
x_train = df2.iloc[:56,:-1].to_numpy()
y_train = pd.get_dummies(df2.iloc[:56, -1]).to_numpy()
x_train, y_train

(array([[22,  1,  0,  2,  0],
        [26,  2,  0,  1,  0],
        [26,  2,  1,  1,  0],
        [28,  1,  0,  2,  0],
        [22,  2,  0,  1,  0],
        [26,  1,  1,  0,  0],
        [27,  2,  0,  1,  0],
        [32,  3,  0,  1,  0],
        [28,  2,  0,  1,  0],
        [27,  1,  1,  1,  0],
        [36,  1,  0,  1,  0],
        [33,  1,  1,  0,  0],
        [23,  1,  1,  1,  0],
        [20,  1,  0,  1,  1],
        [29,  1,  2,  0,  1],
        [25,  1,  2,  0,  0],
        [25,  1,  0,  1,  0],
        [20,  1,  2,  2,  0],
        [37,  3,  0,  1,  1],
        [24,  1,  2,  0,  1],
        [26,  1,  1,  1,  0],
        [33,  2,  0,  0,  1],
        [25,  1,  1,  2,  0],
        [27,  1,  0,  0,  1],
        [20,  1,  0,  2,  1],
        [18,  1,  0,  1,  0],
        [18,  1,  1,  2,  1],
        [30,  1,  0,  1,  0],
        [32,  1,  0,  2,  1],
        [26,  2,  1,  1,  1],
        [25,  1,  0,  0,  0],
        [40,  1,  0,  1,  1],
        [32,  2,  0,  2,  1],
        [27,  2,  0,  1,  1],
        [26,  2,  2,  1,  0],
        [28,  3,  0,  2,  0],
        [33,  1,  1,  1,  0],
        [31,  2,  2,  1,  0],
        [31,  1,  0,  1,  0],
        [26,  1,  2,  0,  1],
        [27,  1,  0,  2,  1],
        [19,  1,  0,  1,  0],
        [36,  1,  1,  2,  0],
        [22,  1,  0,  1,  0],
        [36,  4,  0,  2,  1],
        [28,  3,  0,  1,  1],
        [26,  1,  0,  1,  0],
        [32,  2,  0,  2,  1],
        [26,  2,  2,  1,  0],
        [29,  2,  0,  0,  1],
        [33,  3,  2,  1,  1],
        [21,  2,  1,  0,  1],
        [30,  3,  2,  2,  0],
        [35,  1,  1,  0,  0],
        [29,  2,  0,  1,  1],
        [25,  2,  0,  1,  0]], dtype=int64),
 array([[1, 0],
        [0, 1],
        [1, 0],
        [1, 0],
        [0, 1],
        [1, 0],
        [1, 0],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [1, 0],
        [0, 1],
        [1, 0],
        [1, 0],
        [0, 1],
        [0, 1],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [0, 1],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [1, 0],
        [0, 1],
        [0, 1],
        [0, 1],
        [0, 1],
        [0, 1],
        [1, 0],
        [1, 0],
        [1, 0],
        [0, 1],
        [0, 1],
        [0, 1],
        [0, 1],
        [0, 1],
        [0, 1],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [0, 1],
        [1, 0],
        [1, 0],
        [0, 1],
        [1, 0]], dtype=uint8))

In [54]:
x_test = df2.iloc[56:,:-1].to_numpy()
y_test = df2.iloc[56:, -1].to_numpy()
x_test

array([[32,  3,  1,  0,  1],
       [21,  1,  0,  0,  0],
       [26,  1,  0,  2,  0],
       [30,  2,  1,  2,  1],
       [22,  1,  2,  2,  0],
       [19,  1,  0,  1,  0],
       [32,  2,  0,  0,  0],
       [32,  2,  0,  1,  1],
       [31,  1,  2,  2,  1],
       [35,  2,  0,  1,  0],
       [28,  3,  0,  1,  0],
       [29,  2,  0,  1,  1],
       [25,  1,  0,  0,  0],
       [27,  2,  2,  0,  0],
       [17,  1,  0,  0,  0],
       [29,  1,  2,  0,  1],
       [28,  2,  0,  1,  0],
       [32,  3,  0,  1,  1],
       [38,  3,  2,  2,  1],
       [27,  2,  1,  1,  0],
       [33,  4,  0,  1,  0],
       [29,  2,  1,  2,  0],
       [25,  1,  2,  0,  0],
       [24,  2,  2,  1,  0]], dtype=int64)

In [55]:
def layer1(X):
    return  tf.nn.relu(tf.matmul(tf.Variable(X, dtype=tf.float64),w1) + b1 )

def layer2(X):
    return  tf.nn.relu(tf.matmul(layer1(X),w2) + b2 )

def hypothesis(X):
    return  tf.sigmoid(tf.matmul(layer2(X),w3) + b3 )

def cost():
    h = hypothesis(x_train)
    c = -tf.reduce_mean(y_train*tf.math.log(h) +
                           (1-y_train)*tf.math.log(1-h))
    return c

def pred(x):
    return hypothesis(x)

In [56]:
w1 = tf.Variable(tf.random.normal([5,3], dtype=tf.float64, name='weight1'))
b1 = tf.Variable(tf.random.normal([3], dtype=tf.float64, name='bias1'))

w2 = tf.Variable(tf.random.normal([3,2], dtype=tf.float64, name='weight2'))
b2 = tf.Variable(tf.random.normal([2], dtype=tf.float64, name='bias2'))

w3 = tf.Variable(tf.random.normal([2,1], dtype=tf.float64, name='weight3'))
b3 = tf.Variable(tf.random.normal([1], dtype=tf.float64, name='bias3'))

In [57]:
optimizer = tf.optimizers.Adam(learning_rate= 0.10)

print('***** Start Learning!!')
for step in range(5001):
    optimizer.minimize(loss=cost, var_list=[w1, b1, w2, b2, w3, b3])
    if step % 100 == 0:
        print('%04d' % step,'\n', 'cost :', cost(),'\n','rmse :',get_rmse(y_train, pred(x_train)))
print('***** Learning Finished!!')

***** Start Learning!!
0000
 cost : tf.Tensor(2.035669787908727, shape=(), dtype=float64)
 rmse : 0.6666495122285916
0100
 cost : tf.Tensor(0.6931480577775287, shape=(), dtype=float64)
 rmse : 0.5000477416987569
0200
 cost : tf.Tensor(0.6931471806143242, shape=(), dtype=float64)
 rmse : 0.5000003724811765
0300
 cost : tf.Tensor(0.6931471805599473, shape=(), dtype=float64)
 rmse : 0.4999999977007028
0400
 cost : tf.Tensor(0.6931471805599452, shape=(), dtype=float64)
 rmse : 0.4999999999891032
0500
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.49999999999997446
0600
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
0700
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
0800
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
0900
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1000
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1100
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1200
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1300
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
1400
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1500
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1600
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1700
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1800
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
1900
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2000
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2100
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2200
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2300
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2400
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
2500
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2600
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
2700
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2800
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
2900
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
3000
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
3100
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
3200
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
3300
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
3400
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
3500
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
3600
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
3700
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
3800
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
3900
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
4000
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
4100
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
4200
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
4300
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
4400
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
4500
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
4600
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
4700
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
4800
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
4900
 cost : tf.Tensor(0.6931471805599454, shape=(), dtype=float64)
 rmse : 0.5
5000
 cost : tf.Tensor(0.6931471805599453, shape=(), dtype=float64)
 rmse : 0.5
***** Learning Finished!!